
{% extends "playgrounds/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-center" style="margin-top: 10%;">
    <div class="card" style="width: 400px; justify-content: center; filter: drop-shadow(0px 0px 40px  grey);">
        <div class="card-body">
            <h4 class="card-title" style="text-align: center; border-bottom: 1px solid grey; padding-bottom: 10px;">Signup for an account</h4>
<form method="post" >
    {% csrf_token %}
    {{form.as_p}}
    <!-- <input type="hidden" name="next" value="{{ next }}"> -->
    <br>
    <button type="submit" class="btn btn-primary btn-block">Register</button>
    <small class="text-muted">Already have an account ? <a href="{% url 'user-login' %}">Sign In</a></small><br>
    <small class="text-muted">Are you a vendor ? <a href="{% url 'ven-reg' %}">Click here</a></small>
    
</form>
</div>
</div>
</div>

{% endblock %}