{% extends "playgrounds/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-center" style="margin-top: 5%;margin-bottom: 5%;">
    <div class="card" style="width: 800px; justify-content: center; filter: drop-shadow(0px 0px 40px  grey);">
        <div class="card-body">
            <h4 class="card-title" style="text-align: center; border-bottom: 1px solid grey; padding-bottom: 10px;">Add a vendor</h4>
<form method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    {{form.as_p}}
    <br>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>
</div>
</div>
</div>

{% endblock %}